body {
    margin: 0;
    padding: 0;
    background-color: var(--palette-space-cadet);
}

.error {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error a {
    color: white;
    text-decoration: underline;
}
