{% extends 'fullscreen_base.html' %}

{% block title %}| Login{% endblock %}

{% block content %}
<div class="view" style="background-image: url({{ url_for('static', filename='images/forgor-ahh-overslay.png') }});">
    <div class="form">
        <h1>Henlo frien :> U forgor? UwU</h1>
        <form action="/forgor" method="post">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="error">
                    <p>{{ messages[0] }}</p>
                </div>
            {% endif %}
            {% endwith %}
            <label for="email">E-Mail Addresse ..... sesseee </label>
            <input type="email" name="email" id="email" placeholder="example@email.com">
            <div>
                <input type="submit" value="passwort zu forgor machen" class="request-btn">
            </div>
        </form>
    </div>
</div>
{% endblock %}