{% macro footer() %}
<div class="footer">
    <div class="links">
        <div class="row">
            <ul>
                <li href="#">text</li>
                <li href="#">text</li>
                <li href="#">text</li>
            </ul>
        </div>
        <div class="row"></div>
        <div class="row">
            <ul>
                <li href="#">text</li>
                <li href="#">text</li>
                <li href="#">text</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="socials">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
    <div class="copyright">
        <p>&copy; DocPortal</p>
        <p>powered by itbt.org</p>
    </div>
</div>
{% endmacro %}