{% extends 'lobby_base.html' %}

{% block title %}| Startseite{% endblock %}

{% block content %}
<div class="setcion intro">
    <h1>DocPortal - Patientendaten zentral verwaltet</h1>
</div>
<div class="section about">
    <img src="https://placehold.co/600x400" alt="placehold">
    <div class="text">
        <h2>Wir haben eine Vision...</h2>
        <p>DocPortal ist eine Plattform, die es Patienten ermöglicht, ihre medizinischen Daten zentral zu verwalten und
            Ärzten einen schnellen und einfachen Zugriff auf diese Daten zu ermöglichen.
            <br>
            Doch gute Ideen brauchen Zeit...
            <br>
            Wir arbeiten mit Hochdruck an der Umsetzung unserer Vision und freuen uns, wenn Sie uns auf diesem Weg begleiten.
        </p>
    </div>
</div>
{% endblock %}